.container{
    padding: 5rem 1rem;
}
/* header */
.header{
    text-align: center;
    margin-bottom: 2rem;
}
.title{
    color: var(--clr-veryDarkBlue);
    font-size: var(--size-2xl);
    white-space: nowrap;
    font-weight: 200;
}
.bolded-title{
    color: var(--clr-veryDarkBlue);
    font-size: var(--size-2xl);
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 1rem;
}
.description{
    color: var(--clr-grayishBlue);
    font-size: var(--size-base);
    font-weight: 400;
    line-height: 1.8;
}

/* cards */
.cards-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.card-item{
    border-top:0.4rem solid;
    border-radius: 0.6rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 16px hsl(180, 62%, 55%, 0.15);
    margin-bottom: 1rem;
}
.card-item-1{
    border-top-color: var(--clr-cyan);
}
.card-item-2{
    border-top-color: var(--clr-red);
}
.card-item-3{
    border-top-color: var(--clr-orange);
}
.card-item-4{
    border-top-color: var(--clr-blue);
}

.card-item__title{
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--clr-veryDarkBlue);
    margin-bottom: 0.5rem;
}

.card-item__description{
    font-size: var(--size-base);
    color: var(--clr-grayishBlue);
    margin-bottom: 4rem;
    line-height: 1.8;
}

.card-item__icon{
    display: block;
    margin-left: auto;
}

@media (min-width:1024px) {
    /* header */
    .header{
        max-width: 500px;
        margin: auto;
    }
    .title{
        font-size: var(--size-3xl);
        white-space: nowrap;
    }
    .bolded-title{
        letter-spacing: 0.02rem;
        font-size: var(--size-3xl);
        font-weight: 600;
        white-space: nowrap;
    }
    .description{
        font-size: var(--size-base);
        margin-bottom: 4rem;
    }
    
    /* cards */
    .cards-wrapper{
        max-width: 1400px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .card-item{
        width: 400px;
        max-width: 500px;
    }

    .card-item-1,
    .card-item-3{
        transform: translateY(50%);
    }

    .card-item__description{
        margin-bottom: 4rem;
    }
}